/* IDs */
/* section:nth-child(odd) {
    background: #f9f9f9;
  } */
  .team {
      background: #f9f9f9;
  }
.arrow1 {
    position: relative;
}
.arrow2 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #f54e64;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.main-header {
    /* display: flex;
    flex-direction: row; */
    /* align-items: center;
    justify-content: space-between; */
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    /* right: 100; */
    /* box-shadow: 0 0 5px 0 grey; */
}
.active {
    position: relative;
}
.sthlist {
    position: relative;
}

.logo{
    max-width: 150px;
    height: 0px;
}

body {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    
    font-family: open sans,sans-serif; 
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #abacae;
    display: block;
    margin-top: 14px;
}

section a {
    text-transform: uppercase;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
}
  
h2 {
    /* text-align: center; */
    color: #222;
    font-size: 30px;
    font-weight: 700;
    /* line-height: 59px; */
    /* display: inline-block; */
    font-weight: 700;
}
.team h3 {
    color: black;
    font-weight: bold;
    text-align: left;
    margin-left: -19px;
}
h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
}
section {
    padding: 60px 0; 
    /* margin-top: 150px; */
}
span {
    color: red;
}

button {
    background-color: #f54e64;
    color: white;
    max-width: 320px; 
    /* width: 110%; */
    border-radius: 0px 30px 30px 30px;
    Padding: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s;
    border: none;
    /* outline: #f54e64 1px solid; */
}
.btn {
        max-width: 320px;
        width: 110%;
        border-radius: 0px 30px 30px 30px;
        background-color: #f54e64;
    /* color: white; */
    /* background-color: #f54e64; */
    color: white;
    max-width: 320px; 
    /* width: 110%; */
    /* border-radius: 30px 30px 30px 30px; */
    Padding: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s;
}

button:hover {
    background-color: white;
    color: red;
    border:#f54e64 1px solid;
    border-radius: 30px;
    
}
.btn2 {
    background-color: white;
    color: #f54e64;
    border: #f54e64 1px solid;
    max-width: 320px;
    width: 95%;
    border-radius: 30px 0px 30px 30px;
    /* Padding: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s; */
}
.btn2:hover {
    background-color: #f54e64;
    color: white;
    border-radius: 30px;
}
.btn-rm {
    width: 30%;
    margin-top: 15px;
}

.team img {
    width: 200px;
    height: 200px;
}
.links1 {
    float: right !important;
    display: flex;
    position: relative;
}
.links1 a:hover {
    transition: 0.5s;
    color: #f54e64;
    text-decoration: underline;
}
.intro {
    margin-top: 200px;
    position: relative;
}
.hero-img1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    /* left: 117px; */
}

.underline {
    width: 60px;
    background-color: #f54e64;
    height: 1px;
    left: 47%;
    top: 100;
    /* top: 100px; */
    /* bottom: -1px; */
    position: absolute;
    margin-bottom: 30px;
}
/* .underline-absolute {
    width: 1px;
    background-color: #f54e64;
    height: 1px;
    left: 47%;
    top: 100;
    position: absolute;
    margin-bottom: 30px;
} */
.links1 .underline {
    width: 1px;
}
.links1 .underline:hover {
    width: 15px;
}

.services {
    position: relative;
}
.team {
    position: relative;
}
.pricing {
    position: relative;
}
.testimonial {
    position: relative;
}
.features {
    position: relative;
}
.features .address-margin {
    margin-top: 30px;
}
.contact {
    position: relative;
}
.sections {
    font-size: 30px;
    /* color: #222; */
    text-transform: capitalize;
    text-align: center;
}
.icons {
    display: flex;
    justify-content: center;
    outline: #ddd 1px solid;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 15px;
    align-items: center;
    font-size: 30px;
    color: red;
    margin: 0 auto;
}

.src-icons {
    color: #f54e64;
    font-size: 30px;
    font-weight: bold;
}
.flex1-service:hover .icons  {
    background-color: red;
    color: white;
    transition: 00.5s;
    /* opacity: 1; */
}
.service-title:hover a {
    color: red;
}
a {
    padding: 20px;
    font-size: 17px;
    color: #abacae;
    cursor: pointer;
}
a:hover {
    color: red;
    text-decoration: none;
    transition: 0.5s;
}
a:active {
    color: red;
}
.columns {
    outline: #ddd solid 1px;
}
/* .flex-service {
    display: flex;
    justify-content: center space-between;
    flex-direction: column;
     */

 .flex1-service {
    width: 100%;
    /* max-width: 320px; */
    height: 270px;
    box-shadow: rgb(198 198 198 / 30%) 0px 2px 18px 0px;
    transition: all 0.3s ease 0s;
    /* text-align: center; */
    margin: 15px 0px;
    padding: 20px;
    
} 
.flex1-service:hover {
    box-shadow: 0 10px 28px 0 rgb(198 198 198 / 30%);
    transition: all .3s;
}
.services .flex1-service a{
    text-transform: uppercase;
    font-size: 16px;
    color: #585b60;
}
.flex1-service:hover a{
    color: #f54e64;
    text-decoration: none;
}
.features .flex1-service {
    height: 150px;
    
}
.features h4 {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
/* .feature-sct {
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    /* align-items: center; 
}*/



.features a {
    text-transform: capitalize;

}
.lft-sct{
    text-align: right;
}
.lft-sct a {
    padding: 3px;
}
.rg-sct {
    text-align: left;
}
.rg-sct a {
    padding-left: 3px;
}

.team1 {
      text-align: left;
}
.team-title {
    margin-top: -5px;
    font-size: 15px;
  }
.social {
    display: flex;
    justify-content:flex-start;
}
.social-icon {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 10px;
    
}


.right-clm {
    margin-left: 0px;
}
@media screen and (min-width: 1200px){
    .right-clm {
        margin-left: -110px;
    }
}
@media screen and (max-width: 1000px) {
    header {
        display: none;
    }
    .intro {
        margin-top: 0px;
    }
    
}

.fb-logo {
    color: #3b5998;
    font-size: 20px;
}
.tw-logo {
    color: #007bff;
    font-size: 20px;
}
.ig-logo {
    font-size: 20px;
    background-color: #f54e64;
    color: white;
}
.team-member {
    width: 100%;
    /* max-width: 320px; */
    height: 100%;
    box-shadow: rgb(198 198 198 / 30%) 0px 2px 18px 0px;
    transition: all 0.3s ease 0s;
    /* text-align: center; */
    margin: 15px 15px;
    padding: 0px;
}
.team-member:hover {
    box-shadow: 0 10px 28px 0 rgb(198 198 198 / 30%);
    transition: all .3s;
}
.price-column {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    justify-content: center;
}
.price-column .flex1-service {
    height: 430px;
}
.price-column .icons {
    background-color: #ddd;
    width: 80px;
    height: 80px;
}
.price-column .btn-rm {
    width: 40%;
}
.price-column span {
    font-size: 24px;
    font-weight: bold;
}
.price-column h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.price-column #static {
    background-color: red;
    color: white;
}
.price-column .static {
    background-color: red;
    color: white;
}
.flex-tst {
    display: flex;
    justify-content: space-between;
}
 .left-sct p {
    font-weight: 400;
    font-family: open sans,sans-serif;
    margin: 0;
    font-size: 14px;
    text-align: left;
    /* width: 60%; */
   
 }
 .left-sct h2 {
     font-size: 38px;
     text-align: left;
 }
 /* .right-sct .btn {
     width: 180%;
 } */
 .right-sct {
    text-align: right!important;
 }
 .contact {
     background-color: #f9f9f9;
 }
 input, textarea {
    border: none;
    margin: 0;
    font-family: inherit;
    height: auto;
    width: 100%;
    padding: 10px;
 }
 .form-control1 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px;
    /* border: 0.5px solid #f1f1f1; */
    transition: all .3s;
 }
 .form-control1 input {
    height: 35%;
 }

.contact {
    font-size: 14px;
    /* padding-bottom: 235px; */
}
 .contact p {
    font-size: 16px;
    font-weight: 400;
    font-family: open sans,sans-serif;
 }
 textarea {
    height: 180px;
    width: 100%;
 }
#subject {
    width: 100%;
}
.contact iframe {
    width: 100%;
    height: 288px 
}
.footer {
    padding: 150px 0 0;
}
.footer li {
    padding-top: 8px;
    text-align: left;
    text-decoration: none;
}
.designed p {
    font-size: 15px;
    text-align: center;
}
.designed {
    padding-top: 0px;
    padding-bottom: 1px;
}
hr {
    color: #ddd;
    position: relative;
}
.social-icons-footer {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
    font-size: 17px;
    align-items: center;
    /* padding-left: 20px; */
}
.ln_icons1 {
    width: 32px;
    height: 32px;
    margin: 15px 6px 12px 4px;
    text-align: left;
    position: relative;
}
.ft-icons {
    position: absolute;
    top: -16px;
    left: -12px;
}
.ln_icons1:hover {
    background-color: #007bff;
    color: white;
    transition: 0.5s;
    fill: black;
}

.footer p {
    padding-right: 30px;
}

.footer-title {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    padding-bottom: 15px;
    padding-left: 23px;
    letter-spacing: 0.5px;
}
.space {
   
    font-size: 18px;
    width: 32px;
    /* height: 36px; */
    padding: 0px 0px 0px 18px;

}
.contact-footer {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.my-section1 {
    background-color: #f9f9f9;
}
.address-margin {
    margin-top: -32px;
}
.footer a {
    color: #666666;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.footer p{
    color: #666666;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 15px;;
}
.footer a:hover {
    color: #666666;;
}
.contact-footer p {
    margin: -32px 0px 0px 20px;
}